# Logs path (host machine)
APP_LOGS_PATH=C:\Users\your-user\Documents\_logs

# Ports (host)
APP_PORT=8080
LOKI_PORT=3100
GRAFANA_PORT=3000
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE_NAME=notification.queue
RABBITMQ_EXCHANGE_NAME=notification.exchange
RABBITMQ_ROUTING_KEY=notification.key

# Grafana
GF_ADMIN_PASSWORD=admin
